@font-face {
    font-family:'Idealist Sans' ;
    src: url('../fonts/Idealist Sans.ttf');
}
body{
    font-family:'Idealist Sans' ;
}
img{
    max-width: 100%;
}
input,
textarea,
button,
select{
    outline: none;
}

.header{
    min-height: 100vh;
    background: url("../images/bg/bg1.png") no-repeat top center/cover;
    color: #fff;
    text-align: center;
    position: relative;
}
.languages{
    text-align: right;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.languages a{
    color: #fff;
    padding-left:10px;
}
.languages a.active{
    color:#008dd2;
    text-decoration: underline;
}
.main-wrap{
    padding: 100px 0;
    position: absolute;
    top:50%;
    left:50%;
    font-size: 18px;
    transform: translate(-50%, -50%);
    max-width: 735px;
}
.main-wrap h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.main-title{
    font-size: 48px;
    display: block;
    margin-bottom: 20px;
    line-height: 1;
}
.main-title.min-title{
    max-width: 230px;
}
.section-rows{
    padding-top: 60px;
    padding-bottom: 60px;
}
.item-service img{
    width: 90px;
    height:90px;
    object-fit: scale-down;
    object-position: bottom;
    margin-bottom: 20px;
}
.item-service{
    font-size: 15px;
    line-height: 1.2;
    width: 215px;
    display: inline-block;
    margin: 30px 25px;
}
.box-priorities{
    background-color: #f9f7f2;
    position: relative;
    min-height: 403px;
}
.item-priorities{
    width: 221px;
    height: 403px;
    overflow: hidden;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    display: inline-block;
    margin-right: -60px;
    position: relative;
}
.item-priorities:hover img{
    transform: scale(1.4);
}
.item-priorities img{
    width: 100%;
    height:100%;
    object-fit: cover;
    transition: all 0.3s ease 0s;
}
.list-priorities{
    position: absolute;
    top:0;
    right: 0;
    overflow: hidden;
}
.item-priorities span{
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51);
    position: absolute;
    bottom: 0;
    left:0;
    font-size: 72px;
    font-weight: 400;
    text-decoration: underline;
    color:#fff;
    padding: 295px 15px 15px;
}
.item-priorities:hover span{
    background-color: rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease 0s;
}
.box-priorities .main-title{
    max-width: 320px;
}
.box-log{
    color: #fff;
    background-color: #008dd2;
    font-size: 18px;
}
.box-log p{
    margin-bottom: 5px;
}
.log-dos img{
    height:60px;
    margin-bottom: 15px;
}
.item-quality{
    margin: 15px 0 35px;
}
.item-quality img{
    width: 55px;
    height:55px;
    float: left;
    object-fit: scale-down;
    object-position: top;
}
.item-quality > div{
    font-size: 13px;
    margin-left: 65px;
}
.blue-box{
    background-color: #e3f0ff;
}
.about-commands li{
    font-size: 16px;
    margin-bottom: 15px;
}
.item-staff{
    color: #fff;
    position: relative;
    background-color: #000;
    height: 130px;
    border-radius: 8px;
    overflow: hidden;
    margin: 15px 0;
}
.item-staff img{
    width: 100%;
    height:100%;
    object-fit: cover;
    opacity: 0.5;
    transition: all 0.3s ease 0s;
}
.item-staff span{
    position: absolute;
    padding: 10px;
    display: block;
    width: 100%;
    bottom: 0;
    left:0;
    text-align: center;
}
.item-staff:hover img{
    transform: scale(1.4)rotate(10deg);
}
.footer{
    background-color: #008dd2;
    color: #fff;
    position: relative;
}
.item-content{
    margin-bottom: 40px;
}
.item-content:last-child{
    margin-bottom: 0
}
.item-content p{
    font-size: 20px;
    font-weight:600;
    margin-bottom: 5px;
}
.item-content span{
    display: block;
    font-size: 16px;
}
.map-box{
    width: 50%;
    height:100%;
    position: absolute;
    top:0;
    right: 0;
    background-color: #f1f1f1;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .list-priorities{
        position: static;
        margin-top: 30px;
    }
    .item-priorities{
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .item-priorities {
        width: 49.5%;
        margin-right: 0;
    }
}
@media (max-width: 992px) {

    .map-box{
        position: static;
        width: 100%;
        height:300px;
    }
    .item-service {
        margin: 30px 10px;
    }
    .item-quality > div {
        font-size: 11px;
    }
    .box-priorities .main-title,
    .main-title.min-title{
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    .main-wrap h1,
    .main-title{
        font-size: 38px;
    }
    .main-wrap{
        font-size: 16px;
    }
    .item-priorities {
        width: 100%;
        height: 300px;
    }
    .item-priorities span{
        padding: 190px 15px 15px;
    }
    .log-dos{
        margin-top: 20px;
    }
    .section-rows {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}